@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');

body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
}