form {

    margin: 40px 0;
    display: flex;
    justify-content: space-around;
    gap: 50%;



    & .form__containerFilterCountry {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        gap: 15px;
        padding: 15px 150px 15px 20px;
        width: 20%;
        -webkit-box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.27);
        -moz-box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.27);
        box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.27);

        & .form__inputText {
            width: 100%;
            outline: none;
            border: none;
        }

    }
}