form {

    margin: 40px 0 ;
    display: flex;
    justify-content: space-around;
    gap: 50%;


    & .form__containerFilterCountry {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}